name: Deploy to Production (on merge to main)

on:
  pull_request:
    types: [closed]
    branches:
      - production

jobs:
  deploy:
    name: Build & Deploy Spring Boot JAR to EC2
    if: ${{ github.event.pull_request.merged == true }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR with Maven (skip tests)
        run: mvn clean package -DskipTests

      - name: Copy JAR + deploy script to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          port: 22
          source: |
            target/*.jar
            deploy.sh
          target: "/home/${{ secrets.EC2_USER }}/app"
          strip_components: 1

      - name: Deploy to EC2 (run deploy script with env vars)
        uses: appleboy/ssh-action@v1.0.3
        env:
          DB_URL:               ${{ secrets.DB_URL }}
          DB_USERNAME:          ${{ secrets.DB_USERNAME }}
          DB_PASSWORD:          ${{ secrets.DB_PASSWORD }}
          JWT_SECRET_KEY:       ${{ secrets.JWT_SECRET_KEY }}
          AWS_ACCESS_KEY_ID:    ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION:           ${{ secrets.AWS_REGION }}
          AWS_S3_BUCKET:        ${{ secrets.AWS_S3_BUCKET }}
          MAILUSERNAME:         ${{ secrets.MAILUSERNAME }}
          MAILPASSWORD:         ${{ secrets.MAILPASSWORD }}
          GROKAPIKEY:           ${{  secrets.GROKAPIKEY}}

          SPRING_JPA_HIBERNATE_DDL_AUTO: ${{ secrets.SPRING_JPA_HIBERNATE_DDL_AUTO }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          port: 22
          envs: >-
            DB_URL,
            DB_USERNAME,
            DB_PASSWORD,
            JWT_SECRET_KEY,
            AWS_ACCESS_KEY_ID,
            AWS_SECRET_ACCESS_KEY,
            AWS_REGION,
            AWS_S3_BUCKET,
            SPRING_JPA_HIBERNATE_DDL_AUTO,
            SPRING_PROFILES_ACTIVE,
            MAILUSERNAME,
            MAILPASSWORD,
            GROKAPIKEY

          script_file: deploy.sh